@import "../../App.scss";

.reset-password-form {
  width: 28%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.reset-password-button {
  @extend .green-button;
  margin-left: auto;
  margin-top: 1rem;
  display: flex;
  width: 12rem;
  padding: 0.2rem 0;
  font-size: 1.1rem;
}

.auth_redirect {
  @extend .redirect-link;
  margin: 2.5vh auto 0 !important;
}

@media all and (max-width: 1200px) {
  .reset-password-form {
    width: 35% !important;
  }
}

@media all and (max-width: 900px) {
  .reset-password-form {
    width: 45% !important;
  }
}

@media all and (max-width: 600px) {
  .reset-password-form {
    width: 80% !important;
  }
  .reset-password-button {
    width: 100% !important;
  }
  .auth_redirect {
    margin: 4vh auto 0 !important;
  }
}