@import "../../App.scss";

.EditPasswordWindow {
  @extend .Modal-Window;
  width: 30%;
  min-width: 20rem;
  padding: 2.5rem;
}

.Modal-Window-Hidden {
  top: 25%;
  padding: 2rem 2%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.password-modal-label {
  @extend .text-label;
}

.modal-change-password-form .form-group {
  padding: .5rem 0;
}

.password-modal-input {
  @extend .text-input;
  visibility: inherit;

  &:focus {
    width: 100%;
    transform: none;
  }
}

.change-password-button {
  @extend .green-button;
  visibility: inherit;
  margin: 1.5rem auto 0;
  width: 15rem;
  padding: 0.1rem 0;
  font-size: 1.2rem;
}

.password-forgot-dialog {
  @extend .redirect-link;
  margin: 1rem auto 0;
}

@media all and (max-width: 1350px) {
  .EditPasswordWindow {
    width: 45%;
  }
}

@media all and (max-width: 1000px) {
  .EditPasswordWindow {
    width: 65%;
    top: 19%;
  }
}

@media all and (max-width: 600px) {
  .EditPasswordWindow {
    width: 100%;
    padding: 2.5rem 1.5rem;
    top: 21%;
  }
  .change-password-button {
    width: 100%;
  }
}