@import "../../App.scss";

.EditImageWindow {
  @extend .Modal-Window;
  width: fit-content;
  padding: 2rem 5rem;
  top: 20.5%;
}

.Modal-Window-Hidden {
  top: 25%;
  padding: 2rem 2%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.EditImageModal {
  z-index: 2;
}

.Overlay {
  z-index: 2;
}

.Image-Cropper-Container {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

.save-avatar-button {
  @extend .green-button;
  margin: 1.5rem auto 0;

  width: 15rem;
  padding: 0.1rem 0;
  font-size: 1.3rem;
}

@media all and (max-width: 600px) {
  .EditImageWindow {
    padding: 3rem 0;
    width: 100%;
    text-align: center;
  }
  .Image-Cropper-Container {
    margin: 0 auto;
    display: inline-block;
  }
  .save-avatar-button {
    width: 90%;
  }
}