@import "../../App.scss";

.confirm-section {
  margin-top: 1.5rem !important;
}
.custom-Loading-Spinner{
  margin-top: 3rem;
}

.login-button {
  @extend .green-button;
  font-weight: 500;
  margin-left: auto;
  min-width: 12rem;
  width: 12rem;
  font-size: 1.3rem;
}

.reset_redirect {
  @extend .redirect-link;
  margin-top: auto;
  margin-bottom: 0.1rem;
  margin-left: auto;
}

.login-redirect {
  @extend .redirect-link;
  margin: 4vh auto 0;
}

@media all and (max-width: 1000px) {

  .login-button {
    width: 100%;
    margin: .8rem auto 0;
  }
  .confirm-section {
    margin-top: 1rem !important;
    display: flex;
    flex-direction: column;
  }
}