@import "../../App.scss";

.reset-password-form {
  width: 28%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.reset-password-button {
  @extend .green-button;
  margin-left: auto;
  margin-top: 1.2rem;
  display: flex;
  width: 12rem;
  padding: 0.2rem 0;
  font-size: 1.1rem;
}

.auth_redirect {
  cursor: pointer;
  color: $yellow-color;
  font-family: "Dosis", sans-serif;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4vh;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}
