@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&display=swap");

* {
	font-family: "Dosis", sans-serif;
	font-weight: 500;
	color: white;
}

main {
	width: 50%;
	min-width: 20rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	background-color: #219653;
}

.Logo {
	margin-top: auto;
	font-weight: 800;
	color: #ffd43b;
	font-size: 1.8rem;
	margin-right: auto;
	transition: all 0.3s ease-in-out;
	margin-bottom: 3rem;
}

body {
	background-color: #ffd43b;
}

.Logo:hover {
	color: #ffd43b;
	opacity: 0.9;
}

.green-button {
	text-align: center;
	background-color: #27ae60;
	border: none;
	color: white;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
	transition: all 0.3s ease-in-out;
	font-family: "Dosis", sans-serif;
	padding: 0.5rem 1rem;
	width: fit-content;
}

.green-button:hover {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.12);
}

a {
	text-decoration: none;
	width: fit-content;

}

button {
	cursor: pointer;
}