@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

body {
  background-color: #219653;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.nav-link {
  color: #ffd43b !important;
}

hr {
  margin: 0;
  padding: 0;
}

.col {
  padding: 0 !important;
}

.row-fullwidth {
  --bs-gutter-x: 1.5rem !important;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.disable-cursor {
  pointer-events: none;
  cursor: auto;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

body {
  background-color: #219653;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.nav-link {
  color: #ffd43b !important;
}

hr {
  margin: 0;
  padding: 0;
}

.col {
  padding: 0 !important;
}

.row-fullwidth {
  --bs-gutter-x: 1.5rem !important;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.disable-cursor {
  pointer-events: none;
  cursor: auto;
}

.h1-header {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #ffd43b;
  font-size: 2.3rem;
  margin-top: 7vh;
  margin-bottom: 4vh;
}

.auth-form {
  width: 28%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.auth-form .text-label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2vh;
  font-size: 1.3rem;
  display: block;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.auth-form .text-input {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2.5rem;
  border: 0;
  outline: none;
  width: 100%;
  background-color: #27ae60;
  padding: 0 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: white;
}

.auth-form .text-input:focus {
  background-color: #6fcf97;
  color: black;
  width: 102%;
  -webkit-transform: translateX(-1%);
          transform: translateX(-1%);
}

.auth-form .text-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.auth-form .text-input:focus:-ms-input-placeholder {
  opacity: 0;
}

.auth-form .text-input:focus::-ms-input-placeholder {
  opacity: 0;
}

.auth-form .text-input:focus::placeholder {
  opacity: 0;
}

.auth-form .text-input::-webkit-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.auth-form .text-input:-ms-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.auth-form .text-input::-ms-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.auth-form .text-input::placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.auth-form .confirm-section {
  margin-top: 3vh;
}

.auth-form .auth_button {
  font-weight: 600;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12rem;
  padding: 0.1rem 0;
  font-size: 1.3rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #27ae60;
  border: none;
  color: white;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.028);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.028);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.auth-form .auth_button:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.104);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.104);
}

.auth-form .checkbox-container {
  padding-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-form .checkbox-container .remember-checkbox {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.auth-form .checkbox-container .remember-checkbox:checked + .remember-label::before {
  content: "\002714";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Dosis", sans-serif;
  background-color: #27ae60;
}

.auth-form .checkbox-container .remember-label {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.auth-form .checkbox-container .remember-label::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: #6fcf97;
  margin-right: 0.5rem;
}

.auth_redirect {
  font-family: "Dosis", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 4vh;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.auth_redirect:hover {
  opacity: 0.85;
}

.Task-Modal {
  opacity: 1;
  z-index: 1;
}

.Modal-Window {
  min-height: 5rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
  top: 23%;
  background-color: #219653;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.319);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.319);
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.Overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  visibility: auto;
}

.hiddenModal-Window {
  width: 48%;
  top: 28%;
  opacity: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.close-Modal {
  color: #ffd43b;
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  cursor: pointer;
}

.Modal_Content {
  text-align: center;
  margin: 2.5rem 0 1.5rem 0;
  padding: 0 5%;
}

.change-title_Modal {
  width: 100%;
  height: 3rem;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2.6rem;
  border: 0;
  outline: none;
  background-color: #27ae60;
  padding: 0 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: white;
}

.change-title_Modal:focus {
  background-color: #6fcf97;
  color: black;
}

.change-title_Modal:focus::-webkit-input-placeholder {
  opacity: 0;
}

.change-title_Modal:focus:-ms-input-placeholder {
  opacity: 0;
}

.change-title_Modal:focus::-ms-input-placeholder {
  opacity: 0;
}

.change-title_Modal:focus::placeholder {
  opacity: 0;
}

.change-title_Modal::-webkit-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.change-title_Modal:-ms-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.change-title_Modal::-ms-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.change-title_Modal::placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.checkbox-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-container .remember-checkbox {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container .remember-checkbox:checked + .remember-label::before {
  content: "\002714";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Dosis", sans-serif;
  background-color: #27ae60;
}

.checkbox-container .remember-label {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkbox-container .remember-label::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: #6fcf97;
  margin-right: 0.5rem;
}

.Modal-dateInterval {
  margin-top: 1rem;
  text-align: right;
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: white;
}

.Modal-notesArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-top: 1rem;
  width: 102%;
  height: 100%;
  background-color: #27ae60;
  outline: none;
  color: white;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  padding: 0.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 12rem;
  border: none;
}

.Modal-notesArea:focus {
  color: black;
  background-color: #6fcf97;
}

.Modal-notesArea::-webkit-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.Modal-notesArea:-ms-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.Modal-notesArea::-ms-input-placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.Modal-notesArea::placeholder {
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.Modal-FilesArea {
  margin-top: 1rem;
  height: 12rem;
}

.Moodal-AddFile-Icon {
  font-weight: 500;
  color: white;
  padding-right: 0.4rem;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

.Modal-AddFileInput {
  display: none;
}

.Modal-AddFile {
  line-height: 1.6rem;
  cursor: pointer;
  background-color: #27ae60;
  width: 100%;
  margin-right: auto;
  text-align: center;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.Modal-AddFile:hover {
  color: white;
  background-color: #219653;
}

.Modal-AddFile:hover .Moodal-AddFile-Icon {
  color: white;
}

.Modal-FileList {
  height: 10rem;
  width: 100%;
  margin-top: 1.1rem;
}

.Modal-File {
  margin-top: 0.4rem;
  height: 2rem;
  background-color: #27ae60;
  font-size: 1rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: white;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  text-align: left;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.Modal-File:hover {
  opacity: 0.9;
}

.Modal-File:hover .Modal-File-Option {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  opacity: 1;
}

.Modal-File-NotUploaded {
  color: #ffd43b;
}

.Modal-File-Options {
  text-align: right;
}

.Modal-File-Option {
  margin-left: 0.5rem;
  -webkit-transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out, color 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.3s ease-in-out;
  opacity: 0;
}

.Modal-File-Option:hover {
  opacity: 0.8;
  color: #ffd43b;
}

.Submit_btn {
  font-weight: 600;
  margin-left: auto;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10rem;
  padding: 0.1rem 0;
  font-size: 1.3rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #27ae60;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  border: none;
  color: white;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.028);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.028);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Submit_btn:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.104);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.104);
}

.Modal-ChangesLoading {
  position: absolute;
  left: 0.8rem;
  bottom: 0.4rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  opacity: 0.5;
  color: white;
}
/*# sourceMappingURL=TaskShowModal.css.map */