@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

body {
  background-color: #219653;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.no-text-overflow, .Modal-File .file-name {
  white-space: nowrap;
  overflow: hidden;
}

.nav-link {
  color: #ffd43b !important;
}

.h1-header {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #ffd43b;
  font-size: 2.3rem;
  margin-top: 7vh;
  margin-bottom: 4vh;
}

hr {
  margin: 0;
  padding: 0;
}

.col {
  padding: 0 !important;
}

.row-fullwidth {
  --bs-gutter-x: 1.5rem !important;
  margin-top: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100%;
}

.disable-cursor {
  pointer-events: none;
  cursor: auto;
}

.auth-form {
  width: 30% !important;
  min-width: 22rem !important;
  margin: 0 auto !important;
  transition: all 0.3s ease-in-out !important;
}

.text-input, .change-title_Modal {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2.5rem;
  border: 0;
  outline: none;
  width: 100%;
  background-color: #27ae60;
  padding: 0 1rem;
  transition: all 0.15s ease-in-out;
  color: white;
}

.Modal-Window {
  min-height: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23%;
  background-color: #219653;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 1;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.Modal-ChangesLoading {
  position: absolute;
  left: 0.8rem;
  bottom: 0.4rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  opacity: 0.5;
  color: white;
}

.text-input:focus, .change-title_Modal:focus {
  background-color: #6fcf97;
  color: black;
  width: 102%;
  transform: translateX(-1%);
}

.text-input:focus::placeholder, .change-title_Modal:focus::placeholder {
  opacity: 0;
}

.text-input::placeholder, .change-title_Modal::placeholder {
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.text-label {
  width: fit-content;
  margin-top: 2vh;
  font-size: 1.3rem;
  display: block;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.checkbox-container, .checkbox-container-todo {
  display: flex;
  align-items: center;
  width: fit-content;
}
.checkbox-container .checkbox, .checkbox-container-todo .checkbox {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkbox-container .checkbox:checked + .checkbox-label::before, .checkbox-container-todo .checkbox:checked + .checkbox-label::before {
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  background-color: #27ae60;
}
.checkbox-container .checkbox-label, .checkbox-container-todo .checkbox-label {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  display: flex;
}
.checkbox-container .checkbox-label::before, .checkbox-container-todo .checkbox-label::before {
  transition: all 0.2s ease-in-out;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: #6fcf97;
  margin-right: 0.5rem;
}

.green-button, .close-button {
  display: flex;
  padding: 0.1rem 0;
  text-align: center;
  justify-content: center;
  background-color: #27ae60;
  border: none;
  color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.green-button:hover, .close-button:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.12);
}

.redirect-link {
  font-family: "Dosis", sans-serif;
  width: fit-content;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  color: #ffd43b !important;
}

.Overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0.1rem);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.4s linear;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
}

.redirect-link:hover {
  opacity: 0.85;
}

.display-flex-inline {
  display: flex;
}

.disable-cursor {
  pointer-events: none;
  cursor: auto;
}

.close-Modal {
  color: #ffd43b;
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .checkbox-container, .checkbox-container-todo {
    margin-top: 0;
  }

  .auth-form {
    width: 50% !important;
  }
}
.Modal-Window {
  width: 55%;
}

.hiddenModal-Window {
  width: 49%;
  top: 20%;
  opacity: 0;
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out !important;
}

.Modal_Content {
  text-align: center;
  margin: 2.5rem 0 1.5rem 0;
  padding: 0 5%;
}

.change-title_Modal:focus {
  width: 100%;
  transform: none;
}

.checkbox-container-todo {
  margin-top: 1rem;
}

.Modal-dateInterval {
  margin-top: 1rem;
  text-align: right;
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: white;
}

.Modal-notesArea {
  display: flex;
  margin-right: auto;
  margin-top: 1rem;
  width: 102%;
  background-color: #27ae60;
  outline: none;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  padding: 0.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 12rem;
  border: none;
}
.Modal-notesArea:focus {
  color: black;
  background-color: #6fcf97;
}
.Modal-notesArea::placeholder {
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  color: #e0e0e0;
}

.Modal-FilesArea {
  margin-top: 1rem;
  height: 12rem;
}

.Moodal-AddFile-Icon {
  font-weight: 500;
  color: white;
  transition: color 0.1s ease-in-out;
}

.Modal-AddFileInput {
  display: none;
}

.Modal-AddFile {
  line-height: 1.6rem;
  cursor: pointer;
  background-color: #27ae60;
  width: 100%;
  margin-right: auto;
  text-align: center;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.Modal-AddFile:hover {
  color: white;
  background-color: #219653;
}

.Modal-FileList {
  height: 10rem;
  width: 100%;
  margin-top: 1.1rem;
}

.Modal-File {
  margin-top: 0.4rem;
  height: 2rem;
  background-color: #27ae60;
  font-size: 1rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: white;
  transition: opacity 0.1s ease-in-out;
  text-align: left;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Modal-File:hover {
  opacity: 0.9;
}
.Modal-File:hover .Modal-File-Option {
  opacity: 1;
  pointer-events: auto;
  margin-left: auto;
}
.Modal-File .file-name {
  margin: auto 0;
  width: 90%;
}
.Modal-File .delete-file-icon {
  width: 10%;
  text-align: right;
}

.Modal-File-Options {
  width: fit-content;
  margin: auto 0;
}

.Modal-File-Option {
  font-size: 1rem;
  line-height: 2rem;
  transform: translateY(-10%);
  transition: all 0.15s ease-in-out;
  margin-left: 0.5rem;
  opacity: 0;
  pointer-events: none;
}
.Modal-File-Option:hover {
  opacity: 0.8;
  color: #ffd43b;
}

.close-button {
  margin-left: auto;
  margin-top: 1rem;
  width: 10rem;
  font-size: 1.2rem;
}

@media all and (max-width: 1000px) {
  .Modal-Window {
    width: 85%;
  }
}
@media all and (max-width: 600px) {
  .Modal-Window {
    width: 100%;
    top: auto;
    bottom: 0;
  }

  .hiddenModal-Window {
    width: 100%;
    top: auto;
    bottom: -100%;
  }
}
@media all and (max-width: 1100px) {
  .Modal-File-Option {
    opacity: 1;
    pointer-events: auto;
  }

  .Modal-File-Option {
    font-size: 0.9rem;
  }

  .Modal-File {
    font-size: 0.8rem;
  }
  .Modal-File:hover .Modal-File-Option {
    transition: none;
  }
}

/*# sourceMappingURL=TaskShowModal.css.map */
